/* TBD */
* {
  background-color: #e6ccb2;
  color: #7f5539;
}


.input-group,
.header,
.footer,
p,
button,
.content {
  display: grid;
  place-items: center;
  font-family: monospace;
  font-size: large;
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="email"] {
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: rgba(255, 255, 255, .3);
  padding: 0.5rem 1rem;
}

.input-group label {
  margin: 10px 0px 5px 0px;
}

.input-group button {
  margin-top: 20px;
  background-color: #582f0e;
  color: #ede0d4;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 0.5rem 4.72rem;
}

footer {
  position: absolute;
  display: grid;
  text-align: center;
  place-items: center;
  bottom: 0;
  padding: 0.5rem 1rem;
  height: 20px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .3);
}

/* Path: ../styles/style.css */