
* {
  background-color: #e6ccb2;
  color: #7f5539;
  margin: 0;
  padding: 0;
}

.input-group,
.header,
.footer,
p,
button,
.content {
  display: grid;
  place-items: center;
  font-family: monospace;
  font-size: large;
}

.header {
  padding: 20px;
}

.content {
  line-height: 30px;
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="email"] {
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: rgba(255, 255, 255, .3);
  padding: 0.5rem 1rem;
}

.input-group label {
  margin: 10px 0px 5px 0px;
}

.input-group button {
  margin-top: 20px;
  background-color: #582f0e;
  color: #ede0d4;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 0.5rem 4.72rem;
}

footer {
  position: absolute;
  display: grid;
  text-align: center;
  place-items: center;
  bottom: 0;
  padding: 0.5rem 1rem;
  height: 20px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .3);
}

li,
a {
  font-family: monospace;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10%;
  word-spacing: 70px;
}

.nav-links a {
  list-style: none;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-radius: 0.5em;
}

.nav-links li {
  display: inline-block;
  padding: 0px;
}

nav a.active {
  background: #345;
}

nav a:hover {
  background: #ede0d4;
  transition: 0.5s ease-in-out;
}

/* Path: ../styles/style.css */